.dayWeatherCard {
    background: #373AF5;
    border: 2px solid #2C2D76;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
    border-radius: 8px;
    position: relative;
    width: 174px;
    height: 238px;
    margin: 0 16px 60px 0;
}

.dayWeatherCard__date {
    position: absolute;
    font-weight: bold;
    color: #FFFFFF;
    top: 20px;
    left: 20px;
}

.dayWeatherCard__temp {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.dayWeatherCard__icon {
    position: absolute;
    left: 27px;
    top: 59px;
    width: 120px;
    height: 120px;
}

@media (min-width: 320px) and (max-width: 1026px) {
    .dayWeatherCard {
        margin-top: 30px;
        margin-bottom: 70px;
    }
}

@media (min-width: 1026px) {

    .dayWeatherCard {
        margin-top: 54px;
        margin-bottom: 70px;
    }
}