html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-size: 2vw;
  margin: 5vw;
  outline: none;
  padding: 1vw 2.5vw;
  border: 2px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  min-width: 130px;
  min-height: 40px;
}

button:hover {
  box-shadow:
          -7px -7px 20px 0px #fff9,
          -4px -4px 5px 0px #fff9,
          7px 7px 20px 0px #0002,
          4px 4px 5px 0px #0001;
}


button a {
  text-decoration: none;
}

h1{
  font-size: 4vw;
  margin: 1vw;
}

@media (max-width: 550px) {
  h1{
    font-size: 30px;
  }
  button{
    font-size: 18px;
  }
}