.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3vw;
}

.main img {
  display: block;
  margin: 5vw auto;
}

@media (max-width: 550px) {
  .main{
    font-size: 18px;
  }
}




