.container{
    text-align: center;
}

.dailyForecastBlock {
    width: 80%;
    overflow-x: scroll;
    position: relative;
    margin: 0 auto;
}

.dailyForecastBlock::-webkit-scrollbar {
    height: 2px;
}

.dailyForecastBlock__cards {
    display: inline-flex;
    margin-left: 24px;
}
